data
otherscode
plot
probdf
*.Rhistory
*.Rproj
*.Rproj.user
*.code-workspace
*.asv
**/__pycache__/
**/bspmview.mat

scripts/RSA*
scripts/prepare_image.m
scripts/behavior
scripts/generic
scripts/tidydata
scripts/behavior.Rmd
.Rproj.user
