data
otherscode
results
probdf

**/*.RData
**/*.Rhistory
**/*.Rproj
**/*.Rproj.user
**/*.code-workspace
**/*.asv
**/*.vscode
**/__pycache__/
**/bspmview**.mat
**/test*

scripts/resultvisualization
.Rproj.user
